@page
@model WebInsuranceCompany.Pages.Posts.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Requirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Requirements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Responsibilities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Responsibilities)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Post.PostId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
