@page
@model WebInsuranceCompany.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.PassportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.PassportData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Group.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.ClientId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-page="./Index">Назад</a>
    </form>
</div>
