@page
@model WebInsuranceCompany.Pages.GroupsOfClients.IndexModel

@{
    ViewData["Title"] = "Группы клиентов";
}

<h1>Группы клиентов</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupOfClients[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupOfClients[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GroupOfClients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GroupId"><font color="green">Редактировать</font></a> |
                <a asp-page="./Details" asp-route-id="@item.GroupId">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.GroupId"><font color="FireBrick">Удалить</font></a>
            </td>
        </tr>
}
    </tbody>
</table>
